@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-allura: var(--font-allura);
  --font-prata: var(--font-prata);
  --font-mulish: var(--font-mulish);
}
